div.categories img {
    width: 480px;    
    height: 270px;
    object-fit: cover;
}
div.categories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    
    /*border-bottom: solid 1px;*/
}
div.categories-projets{
    justify-content: space-around;
    
    
    /*border-bottom: solid 1px;*/
}
div.categories a:hover{
   border: solid 3px yellow;
}
div.categories a{
    border: solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
p{
    font-size: 20px;
    position: relative;
}

@media  screen and (max-width: 1100px){
    div.categories{
        flex-direction: column;
    }
    
    
}